[submodule "seastar"]
	path = seastar
	url = git@github.com:scylladb/seastar.git
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = git@github.com:scylladb/scylla-swagger-ui.git
	ignore = dirty
[submodule "abseil"]
	path = abseil
	url = git@github.com:scylladb/abseil-cpp.git
[submodule "scylla-python3"]
	path = tools/python3
	url = git@github.com:scylladb/scylla-python3.git
[submodule "tools/cqlsh"]
	path = tools/cqlsh
	url = git@github.com:scylladb/scylla-cqlsh.git
